<!DOCTYPE html>
<html>
<body>
<head>
<style rel="stylesheets" href="assets/stylesheets/application.css"></style>
</head>
<body>
  <h1 >這裡是熊抱哥網站</h1>

<form action="/my-handling-form-page" method="post">
<ul>
  <li>
    <label for="name">Name:</label>
    <input type="text" name="user_name">
  </li>
  <li>
    <label for="mail">E-mail:</label>
    <input type="email" name="use_email">
  </li>
  <li>
    <label for="msg">Message:</label>
    <textarea id="msg" name="user_message"></textarea>
  </li>
  <li>
    <button type="submit">Send your message</button>
  </li>
</ul>


</form>

<table>
  <tr>
    <td></td>
    <td>Knocky</td>
    <td>Flor</td>
    <td>Ella</td>
    <td>Juan</td>
  </tr>
  <tr>
    <td>Breed</td>
    <td>Jack Russell</td>
    <td>Poodle</td>
    <td>rjq3rp3</td>
    <td>jrp3jrpow</td>
  </tr>
</table>
</body>
</html>
